# Node modules
node_modules/

# Python
__pycache__/
*.pyc

# Environment files
.env
.env.local
.env.example

# Build
build/
dist/

# Database
*.sqlite3

# Logs
*.log

# Misc
.DS_Store

#virtual environments
.venv/
venv/
frontend/node_modules
